.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.reset, h2{
    margin: 15px;
}
.reset{  
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    height: 35px;
    border-radius: 15px;
    background-color: #f5cebe;
    padding: 0px 10px 0px 10px;
}
.reset:hover{
    cursor: pointer;
}